.container {
    width: 250px;
    height: 300px;
    background-color: aqua;
    margin-left: auto;
    border: 8px solid black;
    position: relative;
}

.tamagotchi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tamagotchi128 {
    width: 128px;
    height: 128px;
}

.controls {
    height: 35px;
    width: 250px;
    bottom: 0; 
    /* border: 1px solid black; */
    position: absolute;
     /* display: flex;  */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

/* .bAlimentar {
    align-self: flex-start;
}

.bBrincar {
    align-self: center; 
}

.bLavar {
    align-self: flex-end;
} */

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

.status-item {
    width: 95%;
    margin: 1px 0;
}

.bar {
    width: 100%;
    height: 10px;
    background-color: red;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0;
    overflow: hidden;
    border: 2px solid #000;
}

.barint {
    width: 100%;
    height: 100%;
    background-color: green;
}

.status-item p {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: none;
}

/*nycolle*/
#alimentar{
    background-image: url(images/melancia2.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: 32px 32px;
}

.alimento{
    width: 32px;
    height: 32px;
    float: left;
    padding-left: 4px;
    padding-right: 73px;
    /* background-image: url(images/melancia2.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center; */
}

.brinquedo{
    width: 32px;
    height: 32px;
    float: left;
    align-items: center;
    padding-right: 73px; 
}

.banho{
    width: 32px;
    height: 32px;
    float: left;
    padding-right: 4px;
}

button{
    width: 32px;
    height: 32px;
    align-self: flex-end; 
    border: solid black 1px;
    background-color: transparent;
}